/*最上面的導覽列*/
#homePage {
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 10px;
    background-color: antiquewhite;
}


/*購物車進度表*/
nav ul {
    text-align: center;
    padding: 20px;
}

nav ul li {
    display: inline-block;
     margin: 0px 60px;
     color: dimgray;
     list-style-type: none;
}


/*購物車有幾件 文字*/
#shoppingCartText p {
    margin: 0px;
    padding: 10px 50px;
    background-color: darkgray;
    color: black;
    font-size: large;
    font-weight: 700;
}

/*購物車清單 可勾選刪除*/
#shoppingCartModified {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid;
}

.shoppingCartModified_col {
    display: inline-block;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

    .shoppingCartModified_col p {
        color: black;
        margin: 0px;
    }
/*----------------------------------------------------*/

/*購物車清單*/
#shoppingCartList {
    width: 100%;
    padding: 0px;
}

    #shoppingCartList .productDet {
        display: inline-block;
        width: 80%;
    }
/*----------------------------------------------------*/

/*優惠折扣*/
#discount {
    margin: 0px;
    padding: 10px 50px;
    color: pink;
    font-size: large;
    font-weight: 700;
}
